
:root {
    --input-linear: linear-gradient(120deg, #4fcdaa, #03383a);
    --button-linear: linear-gradient(120deg, #4fcdaa, #09585b, #4fcdaa);
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --light-gray: #cfcfcf;
    --input-error: rgb(202, 12, 12);
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 400px;
    width: 300px;
    background-color: var(--white);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;   
    padding: 32px;
}

.login-title{
    margin-bottom:32px;
    color: var(--black)
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.login-input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login-input:focus + .login-input-border::after{
    width: 100%;
}

.login-input-border.error{
    background: var(--input-error);
}

.login-input-border.error::after{
    background: var(--input-error);
}

.login-input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--light-gray);
    transition: .3s ease-in-out;
}
.login-input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background:linear-gradient(120deg, #4fcdaa, #09585b);
    transition: .3s ease-in-out;
}

.login-submit{
    height: 48px;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border:unset;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.login-submit.error{
    background: var(--input-error);
}

.login-submit.success{
    background: var(--button-success);
}


.login-submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login-submit:hover{
    background-position: right;
}


.login-reset{
    font-size: 12px;
    color: var(--gray);
    text-decoration: none;
}

